Package: com.gfgwin.icontool
Name: icontool
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: GFG
Author: GFG
Section: Tweaks
