Package: com.gfgwin.icontool
Name: icontool
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: GFG
Author: GFG
Section: Tweaks
Version: 0.0.1-22+debug
Installed-Size: 76
